.title{
    margin-left: 3vh;
    font-family: 'Manrope';
    font-size: 4vh;
    margin-bottom: 1vh;
    color: #FF4747
}

img{
    margin-left: 5%;
    border-radius: 1vh;

}

.img{
    width: 25em;
}