.title,
.title0 {
    font-style: italic;
    font-weight: 300;
    font-size: 70px;
    color: #fff;
    width: 1.2rem;
    display: inline-block;
    transition: 0.15s;
    margin: 0;
}

.title0:hover {
    width: 18.0rem;
}

.title0:hover::after {
    content: 'nternet';
}

.title0 {
    color: #ff4747;
    margin-left: 12%;
    padding: 0;
}

.list {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    display: inline-block;
    margin-left: 2vh;
    color: #ff4747;
    transition: 0.15s;
}

.list:hover {
    transform: translate(1vh)
}

.list:hover ~ .args li{
    display: block;
}

.pgCont {
    display: inline-block;
    margin-top: 3%;
    margin-left: 1%;
    font-style: italic;
    font-weight: 300;
    font-size: 48px;
    line-height: 59px;
    color: #fff;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

