.gridLayout {
    display: grid;
    column-gap: 7vw;
    grid-template-columns: calc(50% - 4vw) calc(50% - 4vw);
}

@media screen and (max-width: 950px) {

    .gridLayout > * {
        text-align: justify !important;
    }

    .gridLayout {
        padding: 1vh;
        grid-template-columns: auto;
    }
}

.text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 100;
    font-size: 2.4vh;
    line-height: 3.2vh;
    color: #ffffff;
    margin-right: 3%;
}

.gray {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    font-size: 1.5vw;
    line-height: 1.7vw;
    margin-top: 4vh;
    margin-bottom: 0;
    color: #949494;
}

.graydiv {
    margin-bottom: 0;
    padding: 0;
    margin-left: 4vw;
}

.gray:last-child {
    margin-top: 0;
}

.graydiv > div {
    padding-left: 4vw;
}

.title{
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    font-size: 3vw;
    line-height: 3vw;

    color: #ff4747;

    text-shadow: 0px 4px 4px rgba(255, 108, 108, 0.35);
}

@media screen and (max-width: 950px) {
    .title{
        font-size: 10vw;
    }

    .gray {
        font-size: 5vw;
    }

    .text{
        padding-left: 2vw;
        padding-right: 2vw;
    }
}